name: lint-sync
on:
  schedule:
    # 每周日午夜
    - cron: "0 0 * * 0"
  workflow_dispatch: # 允许手动触发

permissions:
  contents: write
  pull-requests: write

jobs:
  lint:
    uses: purpose168/meta-cn/.github/workflows/lint-sync.yml@main
